body{
    background-color: #f5f6f9;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 500px;
}

img{
    margin: 0px 15px 0px 50px;
    padding-left: 25px;
}
.reply-text-pic{
    margin: 0px 15px 0px 5px;
    padding-left: 5px;
    height: 65px;
}
footer {
    position: fixed;
    bottom: 0px;
    margin: 40px;
}
input {
    flex: 5;
    font-size: 17px;
    border: solid lightgray 1px;
    border-radius: 10px;
}
button{
    cursor: pointer;
}
.leave-comment {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 200px;
    padding: 25px;
    border-radius: 16px;
    background-color: #ffffff;
    width: 800px;
    float: right;
}
.sendBtn {
    background-color: #5358b6;
    color: white;
    font-weight: 500;
    font-size: 15px;
    margin: 10px;
    border-radius: 10px;
    padding: 5px 25px 5px 25px;
    border: none;
}
.sendBtn:hover{
    background-color: #2a2e69;
}
.sendBtn:active{
    background-color: #060b4b;
}
.flex-container {
    display: flex;
    flex-direction: row;
    padding: 0px 20px 20px 10px;
    font-size: 18px;
    align-items: center; 
}
.voting-flex{
    display: flex;
    flex-direction: column;
    position: absolute;
    float: left;
    margin-top: 60px;
}
.minusBtn{
    background-color: #f5f6f9;
    color: #d5d4ed;
    font-size: 20px;
    font-weight: 500;
    border: none;
    padding: 7px 15px 7px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.minusBtn:hover{
    background-color: lightblue; 
    color: white;
}
.minusBtn:active{
    background-color: #5d5f9e;
    color: white
}
.plusBtn{
    background-color: #f5f6f9;
    color: #d5d4ed;
    font-size: 20px;
    font-weight: 500;
    border: none;
    padding: 7px 15px 7px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 
.plusBtn:hover{
    background-color: lightblue; 
    color: white;
}
.plusBtn:active{
    background-color: #5d5f9e;
    color: white
}
.score{
    text-align:center;
    background-color: #f5f6f9;
    color: #5d5f9e;
    font-weight: 500;
    padding: 7px 0px 7px 0px;
}

.user-name{
    color: #343a42;
    font-weight: 600;
    margin: 0px 10px 0px 10px;
}
.comment{
    margin: 10px;
    padding: 25px;
    width: 800px;
    border-radius: 16px;
    background-color: #ffffff;
    float: right;
}
.text{
    color: gray;
    margin: 0px 0px 0px 75px;
    padding-left: 25px;
}
.date-posted{
    color: gray;
    margin: 0px 10px 0px 10px;
}
.reply{
    margin: 10px 10px 10px 200px;
    padding: 25px;
    border-radius: 16px;
    background-color: #ffffff;
    width: 700px;
    float: right;
}
.reply-at-username{
    color: #5d5f9e;
    font-weight: 500;
}
.replyBtn {
    margin-left: auto;
    color: #5d5f9e;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 10px;
}
.replyBtn:hover {
    background-color: rgb(185, 220, 231); 
    color: white;
}
 .replyBtn:active {
    background-color: rgb(108, 189, 216);
    color: white;
 } 
.editBtn{
    margin-left: auto;
    color: #5d5f9e;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 10px;

}
.editBtn:hover {
    background-color: rgb(185, 220, 231); 
    color: white;
}
.editBtn:active{
    background-color: rgb(108, 189, 216);
    color: white;
}
.dltBtn{
    margin-left: auto;
    color: red;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 10px;
}
.dltBtn:hover{
    background-color: rgb(255, 181, 181);
    color: white;
}
.dltBtn:active{
    background-color: rgb(255, 108, 108);
    color: white;
}